@import "compass/css3";

button {
    position: absolute;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    z-index: 999;
    background: none;
    border: none;

}

.fa-volume-high, .fa-volume-xmark {
    position: relative;
    color: #7cafde ;
    font-size: 5em;
    /* text-shadow: 1px 1px  #3c84d4; */
    /* -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 1.5px; */
    text-shadow: 0.5px 0.5px 0 #3c84d4,
    1.5px 1.5px 0 #3c84d4,
    2.5px 2.5px 0 #3c84d4,
    3.5px 3.5px 0 #3c84d4,
    4.5px 4.5px 0 #3c84d4,
    5.5px 5.5px 0 #3c84d4,
    6.5px 6.5px 0 #3c84d4,
    7.5px 7.5px 0 #3c84d4;

}